snippet header "init a python file" b
#!/usr/bin/env python
# -*- encoding: utf-8 -*-
"""
@File : `!p snip.rv = snip.fn`
@Time : `date +'%Y/%m/%d %H:%M:%S'`
@Auth : Ming(<3057761608@qq.com>)
@Vers : 1.0
@Desc : ${1:Desc}
@Usag : ${2:Usag}
"""
# here put the import lib
$3

def main():
    $4
    pass

if __name__ == '__main__':
    main()
endsnippet
