snippet header "init a bash file" b
#!/bin/bash
#--------------------------------------------------
# @File : `!p snip.rv = snip.fn`
# @Time : `date +'%Y/%m/%d %H:%M:%S'`
# @Auth : Ming(<3057761608@qq.com>)
# @Vers : 1.0
# @Desc : ${1:Desc}
# @Usag : ${2:Usag}
#--------------------------------------------------

# here set the PATH and LANG
# PATH=$3
# LANG=zh_CH.UTF-8
# export PATH

$4
endsnippet
